.App {
  text-align: center;
  width: 350px;
}

html, body, #root {
  height: 100%
}

#screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  border: solid;
  border-width: 1px;
  height: 30px;
}

.buttons {
  height: 300px;
  display: grid;
  grid-template-areas: 
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero period equals";
}
#zero{
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five{
  grid-area: five;
}

#six{
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#period {
  grid-area: period;
}

#equals {
  grid-area: equals;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#divide{
  grid-area: divide;
}

#multiply{
  grid-area: multiply;
}

#clear{
  grid-area: clear;
}
